<table class="table table-striped table-condensed table-bordered table-hover ">
  <thead>
    <tr>
      <th class="text-center" width="15%">Timestamp</th>
      <th class="text-center" width="20%">Queue</th>
      <th class="text-center">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr class="messageRow" [class.newMessage]="message.isNew" *ngFor="let message of messages" (click)="messageModalDialog.showMessage(message)">
      <td>{{message.timestamp | date:'y-MM-dd H:mm:ss' }}</td>
      <td>{{message.queue}}</td>
      <td>{{message.text | abbreviate : 200}}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary btn-sm" (click)="clear()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</button>
<message-modal-dialog #messageModalDialog></message-modal-dialog>
