@import "./styles/css/bootstrap.min.css";

.panel-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}
.form-control {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 35px;
}

.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body {
  overflow: auto;
  max-height: 600px;
}

.messageRow {
  cursor: pointer;
}

#messageTabContent {
  height: 300px;
  overflow:auto;
}

#newMessagePanel {
  max-height: calc(100vh - 450px);
  overflow-y: auto;
}

body {
  font-size: 13px;
}
.newMessage {
  font-weight: bold;
}

.messageBodyText {
  font-size: 0.9em;
  line-height: 1.1;
}

.formGroup {
  margin-bottom: 10px;
}
