@import "./styles/css/bootstrap.min.css";

.panel-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}
.form-control {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 35px;
  font-size: 13px;
}

.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body {
  overflow: auto;
  max-height: 600px;
}

.messageRow {
  cursor: pointer;
}

#messageTabContent {
  max-height: 40vh;
  height: 40vh;
  overflow:auto;
}

#messageContentText {
  font-size: 12px;
  color: black;
  border-radius: 0;
  margin-bottom: 0;
}

#newMessagePanel {
  overflow-y: auto;
}

body {
  font-size: 13px;
}
.newMessage {
  font-weight: bold;
}

.messageBodyText {
  padding: 0

}

.formGroup {
  margin-bottom: 10px;
}
